@use "sections/general/navbar.scss";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Roboto+Slab&display=swap');

$style_orbitron: 'Orbitron', sans-serif;
$style_roboto: 'Roboto Slab', serif;


// GENREAL

*, *::before, *::after {
  box-sizing: border-box;
  overflow-x: clip;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 1100;
}
