@use "./../elements/colors.scss" as colors;
@use "./../elements/fonts.scss" as fonts;
@use "./../elements/length.scss" as length;


// FULL SIZE

#index_underlay_bg {
  position: fixed;
  width: 100vw;
  top: 0;
  right: 0;
  color: colors.$grey_600;
  background-color: colors.$red_500;
  z-index: 0;

  #index_headings_left {
    position: absolute;
    top: 0;
    left: 0;
    width: length.$underlay_head_width;
    height: 100%;
    z-index: 2000;
    transition: all 0.5s;
  }

  #index_headings_right {
    position: absolute;
    top: 0;
    right: 0;
    width: length.$underlay_head_width;
    height: 100%;
    z-index: 2000;
    transition: all 0.5s;
  }

  .index_headings {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    width: length.$underlay_head_width;
    font-family: fonts.$style_orbitron;
    font-size: fonts.$head_size_600;
    letter-spacing: fonts.$para_size_600;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transition: all 0.5s;
  }

  #index_heading_portfolio {
    display: flex;
    position: absolute;
    right: 0;
  }
  #index_heading_projects {
    display: none;
    position: absolute;
    right: 0;
  }

  #index_heading_about {
    display: flex;
    position: absolute;
    left: 0;
    transform: rotate(180deg);
  }

  #index_heading_contact {
    display: none;
    position: absolute;
    left: 0;
    transform: rotate(180deg);
  }
}



// RESPONSIVE LARGE - 1024px
 @media only screen and (max-width: 1024px) {

  #index_underlay_bg {
    #index_headings_left {
      left: -480px;
      transition: all 0.5s;
    }
    #index_headings_right {
      right: -480px;
      transition: all 0.5s;
    }
  }

} 