@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Roboto+Slab&display=swap");
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0px;
  padding: 0 80px;
  color: #666666;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-family: "Orbitron", sans-serif;
  z-index: 1000;
}
nav #nav_right {
  display: flex;
  justify-content: space-between;
}
nav #nav_right #nav_right_expanded {
  display: block;
}
nav #nav_right #nav_right_expanded ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
nav #nav_right #nav_right_expanded ul li {
  padding: 24px;
  border-bottom: 4px solid #333333;
}
nav #nav_right #nav_right_expanded ul li:hover {
  color: #CCCCCC;
  border-bottom: 4px solid #666666;
  cursor: pointer;
}
nav #nav_right #nav_right_shrinked {
  display: none;
}

@media only screen and (max-width: 767px) {
  nav #nav_right #nav_right_expanded {
    display: none;
  }
  nav #nav_right #nav_right_shrinked {
    display: block;
  }
}
#index_underlay_bg {
  position: fixed;
  width: 100vw;
  top: 0;
  right: 0;
  z-index: 0;
  color: #666666;
  background-color: darkred;
}
#index_underlay_bg #index_headings_left {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  z-index: 2000;
  transition: all 0.5s;
}
#index_underlay_bg #index_headings_right {
  position: absolute;
  top: 0;
  right: 0;
  width: 220px;
  height: 100%;
  z-index: 2000;
  transition: all 0.5s;
}
#index_underlay_bg .index_headings {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  width: 240px;
  font-family: "Orbitron", sans-serif;
  font-size: 64px;
  letter-spacing: 20px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transition: all 0.5s;
}
#index_underlay_bg #index_heading_portfolio {
  display: flex;
  position: absolute;
  right: 0;
}
#index_underlay_bg #index_heading_projects {
  display: none;
  position: absolute;
  right: 0;
}
#index_underlay_bg #index_heading_about {
  display: flex;
  position: absolute;
  left: 0;
  transform: rotate(180deg);
}
#index_underlay_bg #index_heading_contact {
  display: none;
  position: absolute;
  left: 0;
  transform: rotate(180deg);
}

@media only screen and (max-width: 1024px) {
  #index_underlay_bg #index_headings_left {
    left: -480px;
    transition: all 0.5s;
  }
  #index_underlay_bg #index_headings_right {
    right: -480px;
    transition: all 0.5s;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  overflow-x: clip;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 1100;
}

body#index_page {
  width: 100vw;
  height: 3072;
  background-color: darkred;
}

.index_sections {
  width: calc(100vw - 220px);
  min-height: 768px;
  background-color: white;
  z-index: 100;
  transition: all 0.5s;
  background-color: #333333;
}

#index_section_about {
  overflow: hidden;
  position: absolute;
  height: 3072px;
  top: 768px;
  left: 220px;
}

#index_section_projects {
  position: absolute;
  top: 3840px;
  height: 768px;
}

#index_section_contact {
  position: absolute;
  left: 220px;
  top: 4608px;
  height: 768px;
}

footer {
  position: absolute;
  width: 100vw;
  height: 200px;
  top: 5376px;
  background-color: darkred;
  filter: brightness(0.9);
}/*# sourceMappingURL=index.css.map */